{
  "apiVersion": "servicecatalog.k8s.io/v1beta1",
  "kind": "ServiceBinding",
  "metadata": {
    "name": "mobile-idm-showcase-server-binding"
  },
  "spec": {
    "instanceRef": {
      "name": "mobile-idm-service"
    },
    "parameters": {
      "CLIENT_ID": "showcase-server",
      "CLIENT_TYPE": "bearer"
    }
  }
}