{
  "apiVersion": "servicecatalog.k8s.io/v1beta1",
  "kind": "ServiceBinding",
  "metadata": {
    "name": "mobile-sync-app-binding",
    "labels": {
      "mobileclients.mobile.k8s.io/clientId": "{{ appname }}"
    },
    "annotations": {
      "binding.aerogear.org/consumer": "{{ appname }}",
      "binding.aerogear.org/provider": "showcase-server" 
    }
  },
  "spec": {
    "instanceRef": {
      "name": "showcase-server"
    },
    "parameters": {
      "CLIENT_ID": "{{ appname }}"
    }
  }
}