{
  "apiVersion": "push.aerogear.org/v1alpha1",
  "kind": "IOSVariant",
  "metadata": {
    "name": "{{appname}}-ios-ups-variant",
    "ownerReferences": [
      {
        "apiVersion": "mdc.aerogear.org/v1alpha1",
        "blockOwnerDeletion": false,
        "kind": "MobileClient",
        "name": "{{ appname }}",
        "uid": "{{ appuid }}"
      }
    ]
  },
  "spec": {
    "description": "UPS iOS Variant",
    "pushApplicationId": "{{ pushApplicationId }}",
    "certificate": "{{ push_ios_cert_content }}",
    "passphrase": "{{ push_ios_cert_passphase }}",
    "production": {{ push_ios_cert_production|bool|to_json }}
  }
}
