{
  "apiVersion": "mobile-security-service.aerogear.org/v1alpha1",
  "kind": "MobileSecurityServiceApp",
  "metadata": {
    "name": "{{ appname }}-security",
    "ownerReferences": [
      {
        "apiVersion": "mdc.aerogear.org/v1alpha1",
        "blockOwnerDeletion": false,
        "kind": "MobileClient",
        "name": "{{ appname }}",
        "uid": "{{ appuid }}"
      }
    ]
  },
  "spec": {
    "appId": "org.aerogear.demo.{{ appname }}",
    "appName": "{{ appname }}"
  }
}