{
  "kind": "ServiceInstance",
  "apiVersion": "servicecatalog.k8s.io/v1beta1",
  "metadata": { "name": "showcase-server" },
  "spec": {
    "clusterServiceClassExternalName": "datasync-showcase-server",
    "clusterServicePlanExternalName": "default",
    "parameters": {
      "DATABASE_SERVICE_NAME":"postgresql",
      "MEMORY_LIMIT":"512Mi",
      "NAMESPACE":"openshift",
      "POSTGRESQL_DATABASE":"users",
      "POSTGRESQL_PASSWORD":"postgres",
      "POSTGRESQL_USER":"postgresql",
      "POSTGRESQL_VERSION":"10",
      "SERVER_SERVICE_NAME":"ionic-showcase-server",
      "VOLUME_CAPACITY":"1Gi"
    }
  }
}