{
  "apiVersion": "mdc.aerogear.org/v1alpha1",
  "kind": "MobileClient",
  "metadata": {
    "name": "{{ appname }}"
  },
  "spec": {
    "name": "{{ appname }}",
    "apiKey": "bf997a82-9415-40fc-8480-e222a97d55b4"
  },
  "status":{
    "services": []
  }
}