{
  "apiVersion": "mobile.k8s.io/v1alpha1",
  "kind": "MobileClient",
  "metadata": {
    "name": "{{ appname }}",
    "namespace": "{{ namespace }}"
  },
  "spec": {
    "name": "{{ appname }}",
    "apiKey": "bf997a82-9415-40fc-8480-e222a97d55b4"
  }
}