{
  "apiVersion": "push.aerogear.org/v1alpha1",
  "kind": "PushApplication",
  "metadata": {
    "name": "{{ appname }}",
    "ownerReferences": [
      {
        "apiVersion": "mdc.aerogear.org/v1alpha1",
        "blockOwnerDeletion": false,
        "kind": "MobileClient",
        "name": "{{ appname }}",
        "uid": "{{ appuid }}"
      }
    ]
  },
  "spec": {
    "description": "MDC Push Application"
  }
}