{
  "kind": "ServiceInstance",
  "apiVersion": "servicecatalog.k8s.io/v1beta1",
  "metadata": { "name": "mobile-push" },
  "spec": {
    "clusterServiceClassExternalName": "ag-push-unifiedpush-apb",
    "clusterServicePlanExternalName": "default"
  }
}