{
  "spec": {
    "template": {
      "spec": {
        "containers": [{
          "name": "ionic-showcase-server",
          "env": [{
            "name": "KEYCLOAK_CONFIG",
            "value": "/tmp/keycloak-config/install"
          }],
          "volumeMounts": [{
            "name": "keycloak-config",
            "mountPath": "/tmp/keycloak-config"
          }]
        }],
        "volumes": [{
          "name": "keycloak-config",
          "secret": {
            "secretName": "{{ appname }}-server-install-config"
          }
        }]
      }
    }
  }
}