apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: showcase-server-file-storage
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ showcase_server_file_storage_size }}